{% extends "../_template.html" %}
{% set description = post_shortdesc %}

{% block includes %}
{{ super() }}

<link rel="stylesheet" href="/static/css/news.css">
<style>
.news_header{
  margin-bottom: 4ex;
}

@media (min-width: 800px){
  .news_header{
    margin-bottom: 2ex;
  }
}
</style>
{{ post_includes }} {# For specific post includes or style #}
{% endblock includes %}

{% block content %}
{{ super() }}

<h1>
  {% include "../_logo.svg" %}
</h1>

<section>
  <div class="news_header"><h2>{{ post_header }}</h2><span class="news_date">{{ post_date }}</span></div>
  <!-- <span class="post_date">{{ post_date }}</span> -->
{{ post_content }}
<a href="/{{lang}}/index.html">{{ _("&larr; Go back") }}</a>
</section>


{% endblock content %}

{% block scripts %}
{% endblock scripts %}
