{% extends "./_template.html" %}
{% import "_globals.html" as glob %}

{% set title = _("Home") %}

{% block includes %}
{{ super() }}
<link rel="stylesheet" href="/static/css/news.css">
{% endblock includes %}

{% block content %}
{{ super() }}

  <h1>
    {% include "_logo.svg" %}
  </h1>


  <section><!-- WHAT WE DO -->
    <p class="intro-p">{% filter translate %}
    <i>ElenQ Technology</i> is a Research And Development company, but not like
    any you have heard about. We carry out our activities in every field a
    curious engineer can think up.  {% endfilter %}</p>

    <ul class="more-info">
      <li>{% filter translate %}
      If you want to learn more about what we do check our <a href="services.html">services</a>.
      {% endfilter %}</li>
      <li>{% filter translate %}
      If you want to learn more about us you can check our <a href="about.html">about page</a>.
      {% endfilter %}</li>
      <li>{% filter translate %}
      If you agree with our values and want to help please consider <a href="support.html">supporting us</a>.
      {% endfilter %}</li>
      <li>{% filter translate %}
      If you want to get in touch you can <a href="contact.html">contact us</a>.
      {% endfilter %}</li>
    </ul>
  </section>

  <section class="news">
    {{ h_anchor(2, "Recent News", "news") }}
    {% for file in dir("news", ".html").sort().reverse() -%}
      {% import file as post %}
      <div class="news_header"><h4>{{ post.post_header }}</h4><span class="news_date">{{ post.post_date }}</span></div>
      {{ post.post_shortdesc }}<br>
      <a href="{{ post.post_link }}">{{ _("Read more") }}</a>
    {%- endfor %}
  </section>
{% endblock content %}

{% block scripts %}
{{ super() }}
{% endblock scripts %}
